<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>string Trim</Title>
      <Shortcut>string Trim</Shortcut>
      <Description>建立一個基本的string Trim</Description>
      <Author>James Wang</Author>
    </Header>
    <Snippet>
      <Code Language="csharp">
        <![CDATA[
<!-- 

Trim
 -->
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
